@CHARSET "ISO-8859-1";
/* Reset CSS
 * --------------------------------------- */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
}
a{
	text-decoration:none;
}
table {
    border-spacing: 0;    
}
fieldset,img {
    border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}
strong{
	font-weight: bold;
}
ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}
caption,th {
    text-align: left;

}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    margin:0;
    padding:0;
    color: rgba(184, 186, 228, 1);
}

.section h1 {
    width: auto;
    margin-top: -100px;
    text-shadow: 4px 4px black;
}
.section { 
    color: #d4d4d4;;
}

q:before,q:after {
    content:'';
}
abbr,acronym { border: 0;
}


/* Custom CSS
 * --------------------------------------- */
html {
    font-size: 24px;
    -webkit-text-size-adjust:none;
    -ms-text-size-adjust:none;
    -moz-text-size-adjust:none;
    text-size-adjust:none;
}

body{
	font-family: Tahoma,arial,helvetica;
    height: 100%;
    margin: 0;
    padding: 0;
    background: url('../images/bg.png') fixed;
}

#fullpage_container {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 125px;
    overflow: hidden;
}

#fullpage {
    position: relative;
}

.section {
    height: 100%;
    padding: 20px;
    width: 100%;
}

#main_title {
    position: absolute;
    width: 200px;
    top: 25% !important;
    left: 15%;
    font-size: 50%;
}
#main_title h1 {
    color: rgba(184, 186, 228, 1) !important;
}
#main_title h2 {
    color: grey;
    margin-top: -15px;
}

#logo {
    position: absolute;
    padding-bottom: 80px;
    width: 80px;
    background: radial-gradient(rgba(161, 161, 226, 0.3), rgba(0, 0, 0, .8));
    border: 5px solid rgba(161, 161, 226, .3);
    border-radius: 50%;
    top: 5%;
    left: 5%;
    display: block;
}
#logo:hover {
    cursor: pointer;
    background: radial-gradient(rgba(161, 161, 226, 0.4), rgba(0, 0, 0, .7));
    border: 5px solid rgba(161, 161, 226, .4);
}

#title_container1 h1 {
    margin-top: -50px !important;
}

.title_container h1 {
    width: 100% !important;
    font-size: 250%;
}
.title_container p {
    position: relative;
    height: auto !important;
    width: 100% !important;
    display: inline-block;
}
.title_container .intro p {
    font-size: 110%;
}
.page_description p {
    padding: 5px 0 5px 0;
    font-size: 90%;
}

.page_container {
    position: relative;
    height: 100%;
    top: 50px;
}

.page_description {
    position: relative;
    width: 100%;
    height: 100%;
}

#resume {
    position: absolute;
    right: 50px;
}

#resume img {
    position: relative;
    right: 32px;
}

#resume p {
    position: relative;
    width: 100%;
}

/*SLIDE TEXT*/
.slide {
    margin-top: -300px;
    position: relative;
    height: auto !important;
    bottom: 40px;
}

.slide .intro p, .slide .intro ul{
    text-align: center;
    width: 80% !important;
    margin: 0 auto;
    position: relative;
    margin-bottom: 10px;
}

.slide .intro ul {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-size: 90%;
}

.slide .intro p {
    width: 100% !important;
    font-size: 200%;
}

.intro li {
    display: inline-block;
    color: #c9c9c9;
    padding: 2%;
}
/*RESPONSIVE -SMALL SCREEN (vertical)*/
@media screen and (max-height: 700px) {
    
    #title_container1 {
        position: relative !important;
        display: block;
        float: left;
        width: 50%;
    }
    .slide {
        position: relative;
        display: block;
        float: right;
        top: 100px !important;
    }
}

/*RESPONSIVE - SMALL SCREEN (horizontal)*/
@media screen and (max-width: 1000px) {
    #fullpage_container {
        margin-top: 177px;
    }
    nav { width: 250px !important; margin-right: 10px; top: 15px !important;}
    nav a.nav {
        position: relative;
        margin: 0 5px 5px 5px;
        display: block;
        padding: 5px 8px 8px 5px;
        font-size: 115%;
    }
    #main_title {
        left: 25%;
        top: 21%;
    }
    #logo {
        display: block;
        margin-top: 10px;
        padding-bottom: 0px;
        height: 120px;
        width: 120px;
    }
    #logo:hover {
    cursor: pointer;
    background: radial-gradient(rgba(161, 161, 226, 0.4), rgba(0, 0, 0, .7));
    border: 5px solid rgba(161, 161, 226, .4);
    }
    
    #header {height: 120px !important;}
    
    .section {
    }
    
}

/*RESPONSIVE - SUPER SMALL SCREEN (horizontal)*/
@media screen and (max-width: 640px) {
    body { font-size: 65% !important; }
    #main_title {
        left: 35% !important;
        width: 100px;
        display: block;
    }
    #main_title h1, h2 {
        width: 100px;
        float: right;
        display: block;
    }
    #main_title h2 {
        margin-top: 5px;
    }
    
    nav {
        width: 123px !important;
        font-size: 75%;
        margin: -20px auto !important;
    }
    
    .slide { top: 0 !important;}
    
}

/*RESPONSIVE - SUPER SUPER SMALL SCREEN (horizontal)*/
@media screen and (max-width: 415px) {
    #logo { display: none !important; }
    #main_title { left: 5% !important; }
    body { font-size: 60% !important;}
    
    .slide .intro {
        margin: 0 auto !important;
        width: 75% ;
    }
}


nav {
    position: relative;
    width: 605px;
    height: 50px;
    float: right;
    text-align: center;
    z-index: 3000;
    top: 20%;
    right: 5%;
}
a.nav{
    float: left;
    width: 100px;
    display: inline-block;
    margin-left: 1.5%;
    padding: 10px 20px 10px 20px;
    background-color: rgba(250, 250, 250, .15);
    color: rgba(204, 204, 204, 1);
    text-decoration: none;
    z-index: 3000;
}
a.nav:hover{
    cursor: pointer;
    background-color: rgba(250, 250, 250, .3);
    color: rgba(184, 186, 228, 1);
}

/* Demos Menu
 * --------------------------------------- */
 #demosMenu{
	position:fixed;
	bottom: 10px;
	right:10px;
	z-index: 999;
 }
